@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");

/*font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
  100 – Thin.
  200 – Extra Light (Ultra Light)
  300 – Light.
  400 – Normal.
  500 – Medium.
  600 – Semi Bold (Demi Bold)
  700 – Bold.
  800 – Extra Bold (Ultra Bold)*/

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 200vh; */
  margin: 0;
  background-color: lightgrey;
}
