.show-danger-details {
  visibility: visible;
  z-index: 10;
  background: white;
  border-radius: var(--radius);
  width: 100vw;
  height: 70vh;
  max-width: var(--fixed-width);
  text-align: center;
  place-items: center;
  position: absolute;
  bottom: 0;
  border: 0px solid;
}

button {
  border: 1px solid black;
}

.close-window-position {
  position: absolute;
  top: 0;
  right: 0;
}

.image-property {
  height: 25vh;
  width: 60vw;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.submit-btn {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  color: white;
  background-color: black;
}

.flag-btn {
  border: 0;
}
