.show-danger-box {
  visibility: visible;
  z-index: 10;
  background: rgb(255, 255, 255);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100vw;
  /* height: 75vh; */
  max-width: var(--fixed-width);
  text-align: center;
  place-items: center;
  position: absolute;
  bottom: 0;
  border: 0px solid rgb(255, 255, 255);
}

.danger-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

.danger-form-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-top: 10px;
  margin-right: 5px;
  background-color: white;
}

.close-button-img {
  height: 18px;
  width: 18px;
}

.title {
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sub-title {
  font-family: "Roboto Condensed";
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.danger-level-text {
  font-family: "Roboto Condensed";
  font-size: 0.9rem;
  color: lightslategrey;
  margin-top: 0;
  margin-bottom: 5px;
  align-self: center;
}

.dangerLevelVote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.upload-form-input {
  width: 100%;
  height: 15vh;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  margin: 0;
}

.report-danger-description {
  width: 100%;
  height: 10vh;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-top: 10px;
}

.issueTypeBtn {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2px;
  font-size: 11px;
  background-color: white;
}

.issueTypeBtn:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
}

.submit-button {
  color: white;
  background-color: black;
  width: 20vw;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 23px -3px #000000;
  box-shadow: 0px 0px 10px -5px #000000;
}
.show-alert-msg {
  display: block;
}

.alert-msg-overlay {
  display: none;
}

.danger-buttons-display {
  display: flex;
  width: 100%;
  justify-content: center;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.5s;
}

input + svg {
  cursor: pointer;
  opacity: 0.5;
  width: 90px;
  height: 50px;
}

input[class="classD1"]:hover + svg,
input[class="classD1"]:checked + svg,
input[class="classD1"]:focus + svg {
  transform: scale(1.5);
  opacity: 1;
}

input[class="classD2"]:hover + svg,
input[class="classD2"]:checked + svg,
input[class="classD2"]:focus + svg {
  transform: scale(1.5);
  opacity: 1;
}

input[class="classD3"]:hover + svg,
input[class="classD3"]:checked + svg,
input[class="classD3"]:focus + svg {
  transform: scale(1.5);
  opacity: 1;
}

.danger-type-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-holder {
  display: flex;
  flex-direction: column;
}

.description-input-label {
  width: 100%;
  font-size: 10px;
  text-align: end;
}

.upload-pic-holder {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.pic-preview {
  width: 50%;
  display: flex;
  align-self: center;
}

#upload-btn {
  align-self: center;
  display: none;
}

.custom-upload-btn {
  background: white;
  border: 1px solid rgb(90, 90, 90);

  padding: 1rem 0;
  border-radius: 15px;
}

.issue-title {
  align-self: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.picture-title {
  margin-bottom: 0;
  font-family: "Roboto Condensed";
  font-size: 1.2rem;
  font-weight: bold;
}

@media only screen and (min-width: 700px) {
  .show-danger-box {
    visibility: visible;
    z-index: 10;
    background: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 50vw;
    /* height: 75vh; */
    max-width: var(--fixed-width);
    text-align: center;
    place-items: center;
    position: fixed;
    left: 25%;
    margin-bottom: 20;
    border: 0px solid rgb(255, 255, 255);
  }

  .pic-preview {
    width: 40%;
    max-height: 35vh;
    align-self: center;
    margin: 5px;
  }
}
