* {
  box-sizing: border-box;
}

.login-form {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  z-index: 55;

  top: 10%;
}

.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 5px solid black;
  right: 20px;
  overflow: hidden;
  z-index: 3;
  border-radius: 5px;
}

.closed {
  display: none;
}

div.open-profile {
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
  position: absolute;
  z-index: 2;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px orange; */
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px orange; */
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.absolute-container {
  position: absolute;
  z-index: 2;
}

.tab-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgb(223, 222, 222);
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-account {
  position: absolute;
  top: 0;
  left: 10%;
}
.tab-container {
  background: rgb(99, 99, 99);
  width: 100vw;
  height: 80vh;
  overflow: scroll;
  position: absolute;
  bottom: 0;
}
.active-tabs {
  background-color: red;
}

.img-div {
  background-color: white;

  width: 50px;
  height: 50px;
  display: block;
}

ul {
  list-style: none;
}

.login-btn {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
}
.img-login-btn {
  width: 50px;
  height: 50px;
}
