.visitor-vote{
    font-weight: 300;
    display: flex;
    align-items: center;
}

.rating-qtt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    font-weight: 300;
}

.my-vote-icon svg{
    width: 40px;
    height: 40px;
}
