.visitor-vote{
    font-weight: 300;
}

.rating-qtt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    font-weight: 300;
}

.my-vote-icon svg{
    font-weight: 300;
    width: 8vw;
}

.avg-vote-icon svg{
    height: 16vw;

}


@media only screen and (min-width: 500px) {

    .my-vote-icon svg{
        width: 4vw;
    }
    
    .avg-vote-icon svg{
        height: 8vw;
    
    }
}