.vote-layout{
    display: flex;
    flex-direction: column;
}

.edit-vote-display{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.layout-edit-window{
    display: flex;
    flex-direction: column;
}

.danger-title{
    margin:0;
    font-weight: 600;
}

.danger-title{
    margin:0;
    font-weight: 600;
}

.rating-qtt{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
    font-weight: 300;
}

.center-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-register{
    margin: 0;
}

.flag-btn{
    border: none;
    background-color: transparent;
}

.submit-btn{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
}

.danger-icon-size svg{
    width:35px;
    height:35px;
}

.my-vote-icon svg{
    height: 8vw;
}

.avg-vote-icon svg{
    height: 16vw;

}

@media only screen and (min-width: 500px) {

    .my-vote-icon svg{
        width: 4vw;
    }
    
    .avg-vote-icon svg{
        height: 8vw;
    
    }
}